/* ===============================

    SIDEBAR SECTION

================================*/
aside {
    position: fixed;
    background-color: var(--bg-sidebar);
    display: block;
    width: 0px;
    transition: width 0.2s ease;
    z-index: 2;
}

.user-options nav ol {
    list-style-type: none;
}

.user-options li:first-child {
    margin-top: 117px;
    border-top: 2px solid #B0CFE344;
}

footer {
    position: absolute;
    bottom: 0px;
    padding: 20px;   
}

.user-options p {
    font-size: 0.8em;
}

.user-options .active {
    background: var(--bg-active-menu);
}

a {
    text-decoration: none;
    display: block;
}

.user-options a {
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1.4em;
    padding: 20px;
    height: 100%;
    border-bottom: 2px solid #B0CFE344;
}

.hamburger-wrapper {
    width: 40px;
    height: 40px;
    position: relative;
    transition: left 0.3s ease;
    z-index: 2;
}

.hamburger-wrapper .toggler {
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    display: block;
}

.hamburger {
    height: 100%;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.hamburger div {
    position: relative;
    width: 100%;
    height: 3px;
    background-color: #fff;
    display: flex;
    align-content: center;
    justify-content: center;
    transition: all 0.4s ease;
}

.hamburger div::before, .hamburger div::after {
    content: '';
    position: absolute;
    top: -10px;
    width: 100%;
    height: 3px;
    background: inherit;
}

.hamburger div::after {
    top: 10px;
}

.toggler:checked + .hamburger > div {
    transform: rotate(135deg);
}

.toggler:checked + .hamburger > div::before,
.toggler:checked + .hamburger > div::after {
    top: 0;
    transform: rotate(90deg);
}

/* =========================

    CONTENT SECTION

========================== */
.contents {
    padding: var(--content-padding-medium) 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    box-sizing: border-box;
}

    /* =======================

        SEARCH FORM
    
    ========================== */
    .search-wrapper {
        width: 90%;
    }

    .search-wrapper form {
        width: 100%;
        justify-content: center;
    }

    .search-wrapper input {
        display: inline-block;
        width: 80%;
        margin-top: 0;
    }

    .search-wrapper input[type='submit'] {
        width: 30%;
        max-width: 150px;
        margin-left: 10px;
    }

    /* ==========================
        
            PROPERTY LIST

    ========================== */
    .contents .properties-wrapper {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .properties-wrapper a {
        margin: 20px;
    }

    .properties-wrapper .properties {
        align-self: center;
        box-shadow: 0 0 0 2px #8e8e8e88;
        display: flex;
        flex-direction: column;
        height: 300px;
        width: 300px;
        min-width: 300px;
        box-sizing: border-box;
        transition: transform 0.5s ease;
    }

    .properties-wrapper .properties:hover {
        transform: scale(1.04);
    }
    
    .properties .img-wrapper {
        justify-self: center;
        align-self: center;
        padding: 20px;
    }
    
    .properties .img-wrapper img {
        width: 100%;
        display: block;
        margin: 0 auto;
    }

    .properties .text-wrapper {
        border-top: var(--bd-property__text);
        padding: 20px;
    }

    .properties .text-wrapper h4 {
        margin-top: 10px;
        max-width: 400px;
    }

    .properties .text-wrapper p {
        display: none;
        margin-top: 20px;
    }


    /* ==================================
    
            PROPERTY DETAIL
    
    ================================== */
    /* Center detail view */
    .details-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .property-details, .agent-details {
        width: 80%;
        max-width: 800px;
        box-shadow: 0 0 0 2px #8e8e8e88;
        padding: 20px;
    }

    .property-details {
        margin-bottom: 40px;
    }

    .property-details .status-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    /* Embold status text */
    .property-details .status {
        font-weight: 600;
    }
    
    .status-toggler-wrapper {
        display: flex;
        align-items: center;
        padding: 10px;
        border-radius: 5px;
    }
    
    .status-toggler-wrapper.sold {
        border: 2px solid #f00;
    }

    .status-toggler-wrapper.available {
        border: 2px solid var(--primary-color);
    }
    
    .status-wrapper .status-toggler {
        height: 20px;
        width: 20px;
        margin-right: 10px;
    }

    .property-details .img-wrapper {
        padding: 40px;
        padding-right: 20px;
        padding-left: 20px;
        width: 80%;
        max-width: 600px;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }
    
    .property-details .img-wrapper img {
        display: block;
        width: 80%;
        margin: 0 auto;
    }

    /* Image's control buttons */
    .details-wrapper .img-wrapper > div {
        height: 50px;
        width: 40px;
        position: relative;
        display: flex;
    }

    .prev-img {
        justify-content: flex-start;
    }
    
    .next-img {
        justify-content: flex-end;
    }
    
    /* Overlaying divs to handle clicks on the svg icons */
    .prev-img div, .next-img div {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
    }
    
    .property-details .price {
        margin-top: 20px;
    }

    .property-details .description {
        margin-top: 20px;
        font-size: 1em;
    }
    
    .property-location-wrapper {
        display: flex;
        align-items: center;
        margin-top: 20px;
    }
    
    .agent-details .header,
    .property-details .title {
        border-bottom: #000 solid 1px;
        padding-bottom: 10px;
        margin-bottom: 40px;
    }

    .agent-details .agent-name {
        margin-bottom: 20px;
    }
    
    .agent-details > div {
        line-height: 1.4em;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    
    .agent-details .icon, .property-details .icon {
        margin-right: 10px;
    }
    
    .agent-details .phone a {
        text-decoration: underline;
        color: var(--primary-color);
    }

    .details-wrapper .buttons {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-top: 30px;
    }
    
    .delete-btn, .edit-btn {
        width: 100px;
        font-size: 1em;
        margin-top: 50px;
        border-radius: 5px;
        border: 1px solid transparent;
        outline: none;
    }
    
    .delete-btn {
        background: var(--warning-color);
    }

    .buttons.no-display, .modal.no-display,
    .no-display.status-toggler-wrapper {
        display: none;
    }
/* =======================

        DELETE MODAL 

======================= */
.modal {
    background-color: var(--bg-modal);
    width: 100%;
    height: 100%;
    overflow: auto;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.modal .modal-content {
    width: 90%;
    max-width: 500px;
    background: #fff;
}

.modal .modal-header {
    background: var(--primary-color--light);
    padding: 20px;
}

.modal .modal-body {
    padding: 60px;
    width: 60%;
    margin: 0 auto;
}

.modal .modal-body .message {
    margin-bottom: 30px;
}

.modal .modal-body .property-title {
    font-weight: 600;
}

.modal .buttons {
    display: flex;
    justify-content: space-around;
}

.modal button {
    width: 90px;
    border-radius: 5px;
    border: 1px solid transparent;
    color: #fff;
    font-size: 1em;
}

.modal button.cancel-delete {
    background: var(--neutral-color);
}

.modal button.confirm-delete {
    background: var(--warning-color);
}



/* 
  ================================

        PROPERTY FORM

=============================== */
.form-wrapper {
    width: 100%;
}

.data-form.property-form {
    padding-left: 0;
    padding-right: 0;
}

label::after {
    font-style: italic;
    font-size: 0.7em;
    margin-left: 10px;
}

label[for="title"]::after {
    content: '(20 - 50 characters) *';
}

label[for="location"]::after {
    content: '(10 - 50 characters) *';
}

label[for="type"]::after {
    content: '(5 - 50 characters) *';
}

label[for="description"]::after {
    content: '(50 - 500 characters) *';
}

.property-form input[type='file'] {
    height: initial;
    width: 250px;
    padding: 0;
}

.property-form textarea {
    height: 150px;
    padding: 5px;
    font-family: var(--body-font-family);
    resize: none;
}

@media screen and (min-width: 768px) {
    .contents {
        padding: var(--content-padding-medium);
    }

    .contents .properties-wrapper {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
    }

    .properties-wrapper .properties {
        height: 300px;
        width: 300px;
        min-width: 300px;
    }

    .details .buttons {
        width: 60%;
    }

    .data-form.property-form {
        padding-left: var(--content-padding-wide);
        padding-right: var(--content-padding-wide);
    }
}

@media screen and (min-width: 1025px) {
    aside.user-options {
        width: 250px;
    }

    .hamburger-wrapper {
        display: none;
    }

    .contents-wrapper {
        position: relative;
        left: 250px;
        width: calc(100% - 250px);
    }

    .contents {
        padding: var(--content-padding-wide);
        align-items: flex-start;
    }

    .search-wrapper form {
        justify-content: flex-start;
    }

    .contents .properties-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        box-sizing: border-box;
    }

    .properties-wrapper a {
        margin: 20px 0px;
        width: 90%;
    }

    .properties-wrapper .properties {
        flex-direction: row;
        height: 200px;
        width: 100%;
        min-width: 600px;
    }

    .properties .img-wrapper {
        height: 80%;
        width: 250px;
        align-self: center;
        flex-basis: 30%;
    }

    .properties-wrapper .text-wrapper {
        border-left: var(--bd-property__text);
        border-top: none;
        flex-basis: 70%;
    }

    .properties .text-wrapper h4 {
        margin-top: 15px;
    }

    .properties .text-wrapper p {
        margin-top: 40px;
        max-width: 400px;
        display: block;
    }

    .properties .img-wrapper img {
        height: 100%;
        display: block;
    }
}