.msg-wrapper {
    margin: 0 auto;
    padding: 0 var(--content-padding-medium);
    font-size: 1.4em;
}

form.auth-form {
    margin-top: 100px;
}

.no-display { /* refactor */
    display: none;
}

.auth-form + .msg-wrapper {
    font-size: 1em;
    margin-top: 60px;
}

.auth-form + .msg-wrapper a {
    font-weight: 600;
    letter-spacing: 0.08em;
    display: inline-block;
    margin-left: 10px;
}

footer {
    margin-top: 100px;
}

@media screen and (min-width: 768px) {
    .msg-wrapper {
        margin-right: var(--content-padding-medium);
        margin-left: var(--content-padding-medium);   
    }
}