body {
    background: linear-gradient(to right bottom, var(--primary-color), var(--primary-color-light));
    background-size: contain;
    color: #fff;
    overflow: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-bar {
    background: transparent;
}

.top-bar nav ul {
    display: inline-block;
    list-style-type: none;
    text-transform: capitalize;
}

.top-bar nav ul li {
    display: inline-block;
}

.top-bar nav ul li:last-child {
    margin-left: 20px;
}

.top-bar nav ul li a {
    text-decoration: none;
    font-weight: 600;
    color: #fff;
}

main .msg-wrapper {
    display: flex;
    padding: var(--content-padding-wide) var(--content-padding-medium);
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

main .msg-wrapper div {
    flex: 0 1 100%;
    margin-bottom: 20px;
}

main h2 {
    font-size: 4em;
    font-weight: 700;
}

main p {
    font-size: 1.2em;
    margin-top: 20px;
    line-height: 1.4em;
}

main .msg-wrapper .vector object {
    width: 100%;
    max-width: 700px;
}

@media screen and (min-width: 768px) {
    main .msg-wrapper {
        text-align: left;
        padding: var(--content-padding-wide) var(--content-padding-wide);
    }

    main .msg-wrapper div {
        flex: 0 1 45%;
    }
}