aside {
    position: fixed;
    background-color: #262542;
    display: block;
    width: 0px;
    transition: width 0.2s ease;
    z-index: 2;
}

.user-options li:first-child {
    margin-top: 117px;
    border-top: 2px solid #B0CFE344;
}

footer {
    position: absolute;
    bottom: 0px;
    padding: 20px;   
}

.user-options p {
    font-size: 0.8em;
}

.user-options nav ol {
    list-style-type: none;
}

.user-options .active {
    background: #B0CFE333;
}

a {
    text-decoration: none;
    display: block;
}

.user-options a {
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1.4em;
    padding: 20px;
    height: 100%;
    border-bottom: 2px solid #B0CFE344;
}

.hamburger-wrapper {
    width: 40px;
    height: 40px;
    position: relative;
    transition: left 0.3s ease;
    z-index: 2;
}

.hamburger-wrapper .toggler {
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    display: block;
}

.hamburger {
    height: 100%;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.hamburger div {
    position: relative;
    width: 100%;
    height: 3px;
    background-color: #fff;
    display: flex;
    align-content: center;
    justify-content: center;
    transition: all 0.4s ease;
}

.hamburger div::before, .hamburger div::after {
    content: '';
    position: absolute;
    top: -10px;
    width: 100%;
    height: 3px;
    background: inherit;
}

.hamburger div::after {
    top: 10px;
}

.toggler:checked + .hamburger > div {
    transform: rotate(135deg);
}

.toggler:checked + .hamburger > div::before,
.toggler:checked + .hamburger > div::after {
    top: 0;
    transform: rotate(90deg);
}

.contents {
    padding: var(--content-padding-small);
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}


/* refactor */

.search-wrapper {
    width: 80%;
}

form {
    width: 100%;
    display: flex;
    justify-content: center;
}

input {
    margin-top: 5px;
    border: #bebebecc 1px solid;
    box-shadow: 0 0 0 2px #8e8e8e22;
    outline: none;
    font-size: 1em;
    display: inline-block;
    height: 40px;
    border-radius: 5px;
    padding: 0 5px;
    box-sizing: border-box;
    width: 60%;
    justify-self: center;
}

input[type='submit'] {
    text-transform: capitalize;
    background: var(--primary-color);
    width: 30%;
    max-width: 150px;
    margin-left: 10px;
}

input:focus {
    border: #5DADE2 1px solid;
}

.contents .properties-wrapper {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.properties-wrapper a {
    margin: 20px;
}

.properties-wrapper .properties {
    align-self: center;
    box-shadow: 0 0 0 2px #8e8e8e88;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 300px;
    min-width: 300px;
    box-sizing: border-box;
    transition: transform 0.5s ease;
}

.properties-wrapper .properties:hover {
    transform: scale(1.04);
}

.properties .img-wrapper {
    justify-self: center;
    align-self: center;
    width: 250px;
    height: 200px;
    padding: 20px;
}

.properties .text-wrapper {
    border-top: var(--primary-color-light) solid 2px;
    padding: 20px;
}

.properties .text-wrapper h4 {
    margin-top: 10px;
    max-width: 400px;
}

.properties .text-wrapper p {
    display: none;
    margin-top: 20px;
}

.properties .img-wrapper img {
    width: 100%;
    display: block;
    margin: 0 auto;
}


/* ================
    property detail
   ================
*/

.prev-img, .next-img {
    height: 50px;
    width: 40px;
    position: relative;
    display: flex;
    justify-content: center;
}

.prev-img div, .next-img div {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
}

.details-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details-wrapper .buttons {
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.property-details-wrapper {
    width: 80%;
    max-width: 800px;
    box-shadow: 0 0 0 2px #8e8e8e88;
    padding: 20px;
    margin-bottom: 40px;
}

.property-details-wrapper .status {
    font-weight: 600;
}

.property-location-wrapper {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.agent-details-wrapper {
    width: 80%;
    max-width: 800px;
    box-shadow: 0 0 0 2px #8e8e8e88;
    padding: 20px;
}

.agent-details-wrapper .agent-name {
    margin-bottom: 20px;
}

.agent-details-wrapper > div {
    line-height: 1.4em;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.agent-details-wrapper .icon, .property-details-wrapper .icon {
    margin-right: 10px;
}

.property-details-wrapper h2 + p {
    margin-top: 20px;
    font-size: 1em;
}

.property-details-wrapper .img-wrapper {
    padding: 40px;
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.property-details-wrapper .price {
    margin-top: 20px;
}

.property-details-wrapper .description {
    margin-top: 20px;
    line-height: 1.4em;
    font-size: 1em;
}

.property-details-wrapper .img-wrapper img {
    display: block;
    width: 80%;
    margin: 0 auto;
}

.agent-details-wrapper .header,
.property-details-wrapper .title {
    border-bottom: #000 solid 1px;
    padding-bottom: 10px;
    margin-bottom: 40px;
}

.property-details-wrapper .status-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.toggle-status {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}

div.toggle-status.sold {
    border: 2px solid #f00;
}

div.toggle-status.available {
    border: 2px solid var(--primary-color);
}

.status-wrapper .property-status-toggler {
    line-height: 1.4em;
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

div.no-display {
    display: none;
}

.delete-btn, .edit-btn {
    width: 100px;
    height: 40px;
    font-weight: 600;
    font-size: 1.2em;
    margin-top: 50px;
    border-radius: 5px;
    border: 1px solid transparent;
    outline: none;
}

.edit-btn {
    background: var(--primary-color);
}

.delete-btn {
    background: #cf3226;
}



/* =======================
        DELETE MODAL 
   =======================        
*/
.modal {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    overflow: auto;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.modal .modal-content {
    width: 90%;
    max-width: 500px;
    background: #fff;
    text-align: center;
}
.modal .modal-header {
    /* background: gray; */
    /* background: #85929E99; */
    background: var(--primary-color-light);
    padding: 20px;
    color: #fff;
}

.modal .modal-body {
    padding: 60px;
    width: 60%;
    margin: 0 auto;
}

.modal .modal-body .message {
    margin-bottom: 30px;
}

.modal .modal-body .property-title {
    font-weight: 600;
}

.modal .buttons {
    display: flex;
    justify-content: space-around;
}

.modal button {
    width: 90px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid transparent;
    color: #fff;
    font-size: 1.2em;
    font-weight: 400;
}

.modal button.cancel-delete {
    background: #85929E;
}

.modal button.confirm-delete {
    background: #cf3226;
}



/* 
  ================================

    Post form

  ================================
*/
.form-wrapper {
    width: 100%;
}


form.property-form {
    position: relative;
    background: #fff;
    margin: 0 auto;
    padding-top: 100px;
    width: 80%;
    display: flex;
    flex-direction: column;
    padding-left: var(--content-padding-medium);
    padding-right: var(--content-padding-medium);
    margin-bottom: 100px;
    max-width: 650px;
    box-sizing: border-box;
}


.property-form formgroup {
    display: block;
    width: 100%;
}

.property-form formgroup + formgroup {
    margin-top: 30px;
}

.property-form input, .property-form label,
.property-form textarea {
    display: block;
}

.property-form label {
    font-size: 1.2em;
    font-weight: 500;
    text-transform: capitalize;
}

.property-form input, .property-form textarea {
    margin-top: 5px;
    border: #bebebecc 1px solid;
    box-shadow: 0 0 0 2px #8e8e8e22;
    outline: none;
    font-size: 1em;
    max-width: unset;
    margin-left: unset;
}

label::after {
    font-style: italic;
    font-size: 0.6em;
}

label[for="title"]::after {
    content: '  (20 - 50 characters) *';
}

label[for="location"]::after {
    content: '  (10 - 50 characters) *';
}

label[for="type"]::after {
    content: '  (5 - 50 characters) *';
}

label[for="description"]::after {
    content: '  (50 - 500 characters) *';
}

.property-form input[type='file'] {
    height: initial;
    width: initial;
    padding: 0;
}

.property-form input:required:focus, .property-form textarea:focus {
    border: #5DADE2 1px solid;
}

.property-form input:required, input[type="submit"], .property-form textarea {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    padding: 0 5px;
    box-sizing: border-box;
}

.property-form textarea {
    height: 150px;
    padding: 5px;
    font-family: "Open sans", sans-serif;
    resize: none;
}

.property-form input[type='submit'] {
    background: var(--primary-color);
    width: 100%;
}

.property-form input[type='submit']:hover {
    cursor: pointer;
}

.property-form .error-msg {
    color: #dd2c00;
    position: absolute;
    top: 60px;
    left: var(--content-padding-medium);
    max-width: 80%;
}

 .property-form .no-display {
     display: none;
}


@media screen and (min-width: 768px) {
    .contents {
        padding: var(--content-padding-medium);
    }

    .contents .properties-wrapper {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
    }

    .properties-wrapper .properties {
        height: 300px;
        width: 300px;
        min-width: 300px;
    }
}

@media screen and (min-width: 1025px) {
    aside.user-options {
        width: 250px;
    }

    .hamburger-wrapper {
        display: none;
    }

    .contents-wrapper {
        position: relative;
        left: 250px;
        width: calc(100% - 378px);
    }

    .top-bar {
        width: 100%;
    }

    .contents {
        padding: var(--content-padding-wide);
        align-items: flex-start;
    }

    form {
        justify-content: flex-start;
    }

    .contents .properties-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        box-sizing: border-box;
    }

    .properties-wrapper a {
        margin: 20px 0px;
        width: 90%;
    }

    .properties-wrapper .properties {
        flex-direction: row;
        height: 200px;
        width: 100%;
        min-width: 600px;
    }

    .properties .img-wrapper {
        height: 80%;
        width: 250px;
        align-self: center;
        flex-basis: 30%;
    }

    .properties-wrapper .text-wrapper {
        border-left: var(--primary-color-light) solid 2px;
        border-top: none;
        flex-basis: 70%;
    }

    .properties .text-wrapper h4 {
        margin-top: 15px;
    }

    .properties .text-wrapper p {
        margin-top: 40px;
        max-width: 400px;
        display: block;
    }

    .properties .img-wrapper img {
        height: 100%;
        display: block;
    }
}