.auth-form input[type="checkbox"]:checked {
    box-shadow: 0 0 5px 2px #5DADE2;
}

formgroup#as_agent {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

formgroup#as_agent > * {
    display: inline-block;
}

formgroup#as_agent input {
    margin-right: 16px;
    width: 24px;
    height: 24px;
}

formgroup#as_agent label {
    font-size: 1em;
}

.auth-form input[type='checkbox']:hover {
    cursor: pointer;
}
