/* This CSS file contains styles relevant to all pages. */
:root {
    --primary-color: rgba(16, 102, 255, 1);
    --primary-color-light: rgba(16, 102, 241, 0.6);
    --content-padding-wide: 64px;
    --content-padding-medium: 32px;
    --content-padding-small: 16px;
    --headers-font-family: 'Merriweather', serif;
    --body-font-family: "Open Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: var(--headers-font-family);
}

body {
    font-family: var(--body-font-family);
}

.top-bar {
    background: linear-gradient(to right, var(--primary-color), var(--primary-color-light));
    background-size: contain;
    padding: var(--content-padding-medium);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo object {
    height: 50px;
}

.logo.big {
    display: none;
}

footer {
    margin-bottom: 20px;
}

footer p {
    text-transform: capitalize;
    text-align: center;
    font-weight: 400;
    letter-spacing: 0.08em;
}

.top-bar nav ul {
    display: inline-block;
    list-style-type: none;
    text-transform: capitalize;
}

.top-bar nav ul li {
    display: inline-block;
}

.top-bar nav ul li:last-child {
    margin-left: 20px;
}

.top-bar nav ul li a {
    text-decoration: none;
    font-weight: 600;
    color: #fff;
}

@media screen and (min-width: 768px) {
    .logo.big {
        display: block;
    }

    .logo.small {
        display: none;
    }

    .top-bar {
        padding: var(--content-padding-medium) var(--content-padding-wide);
    }
}