/* This CSS file contains styles relevant to all pages. */
:root {
    --primary-color: rgba(16, 102, 255, 1);
    --primary-color-light: rgba(16, 102, 241, 0.6);
    --content-padding-wide: 64px;
    --content-padding-medium: 32px;
    --content-padding-small: 16px;
    --headers-font-family: 'Merriweather', serif;
    --body-font-family: "Open Sans", sans-serif;
    --warning-color: #cf3226;
}

* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1700px;
    margin: 0 auto;
    font-family: var(--body-font-family);
}

.gradient-background {
    background: linear-gradient(to right bottom, var(--primary-color), var(--primary-color-light)) no-repeat;
    background-size: contain;
}

.window-height {
    overflow: auto;
    min-height: 100vh;
}

.parent-width {
    width: 100%;
}

.text--white {
    color: #fff;
}

.text--black {
    color: #000;
}

h1, h2, h3 {
    font-family: var(--headers-font-family);
}

.top-bar {
    padding: var(--content-padding-medium);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo object {
    height: 50px;
}

.logo.big {
    display: none;
}

footer {
    margin-bottom: 20px;
}

footer p {
    font-weight: 400;
    letter-spacing: 0.08em;
}

a:hover, button:hover, .button:hover,
input[type='checkbox']:hover, input[type='submit'] {
    cursor: pointer;
}


/* ==========================

    FORMS
    
   ==========================
    */
form {
    display: flex;
}

form:not(#search-form) {
    position: relative;
    background: #fff;
    margin: 0 auto;
    margin-top: 100px;
    width: 80%;
    flex-direction: column;
    align-items: center;
    padding-left: var(--content-padding-medium);
    padding-right: var(--content-padding-medium);
    justify-content: center;
    border-radius: 5px;
    max-width: 650px;
    box-sizing: border-box;
}

form .no-display {
    display: none;
}

form input, label, formgroup, textarea {
    display: block;
}

form input, form textarea {
    margin-top: 5px;
    border: #bebebecc 1px solid;
    box-shadow: 0 0 0 2px #8e8e8e22;
    outline: none;
    font-size: 1em;
    height: 40px;
    width: 100%;
    border-radius: 5px;
    padding: 0 5px;
    box-sizing: border-box;
}

input[type='submit'] {
    background: var(--primary-color);
}

label {
    font-size: 1.2em;
    font-weight: 500;
    text-transform: capitalize;
}

formgroup {
    width: 100%;
}

formgroup + formgroup {
    margin-top: 30px;
}

form .error-msg {
    color: #dd2c00;
    position: absolute;
    top: 60px;
    left: var(--content-padding-medium);
    max-width: 80%;
}

input[required]:focus {
    border: #5DADE2 1px solid;
}

.top-bar {
    box-sizing: border-box;
    width: 100%;
}

.top-bar nav ul {
    display: inline-block;
    list-style-type: none;
    text-transform: capitalize;
}

.top-bar nav ul li {
    display: inline-block;
}

.top-bar nav ul li:last-child {
    margin-left: 20px;
}

.top-bar nav ul li a {
    text-decoration: none;
    font-weight: 600;
}

.text--aligned-left {
    text-align: left;
}

.text--aligned-center {
    text-align: center;
}

.text--capitalized {
    text-transform: capitalize;
}

.text--ellipsised {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.error-msg {
    text-transform: none;
}

@media screen and (min-width: 768px) {
    .logo.big {
        display: block;
    }

    .logo.small {
        display: none;
    }

    .top-bar {
        padding: var(--content-padding-medium) var(--content-padding-wide);
    }
}